apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-dns
resources:
- ../../base

patchesStrategicMerge:
- sa-patches.yaml

patchesJson6902:
- target:
    version: v1
    kind: Deployment
    name: external-dns
  path: deploy-args.yaml